/* Card Types */

.spoon-university .category, .spoon-university .title-content hr {
  background-color: #34c149;
}

.spoon-university .bookmark, .spoon-university .author-info i, .spoon-university .utility-info i {
  color: #34c149;
}

.healthier .category, .healthier .title-content hr {
  background-color: #ff6c00;
}

.healthier .bookmark, .healthier .author-info i, .healthier .utility-info i {
  color: #ff6c00;
}

